<?xml version="1.0" ?>
<robot name="susag_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find susag_robot_description)/urdf/materials.xacro" />
<xacro:include filename="$(find susag_robot_description)/urdf/susag_robot.trans" />
<xacro:include filename="$(find susag_robot_description)/urdf/susag_robot.gazebo" />

<link name="base_link">
  <inertial>
    <origin xyz="0.001302931634921084 -3.8148446253879843e-17 0.2105272851727495" rpy="0 0 0"/>
    <mass value="2.0"/>
    <inertia ixx="10.229874" iyy="13.7797" izz="16.621337" ixy="0.0" iyz="-0.0" ixz="-0.102671"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find susag_robot_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find susag_robot_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<!-- IMU Link -->
<link name="imu_link">
  <inertial>
    <mass value="0.01"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
  </inertial>
  <visual>
    <geometry>
      <sphere radius="0.02"/>
    </geometry>
    <material name="silver"/>
  </visual>
</link>

<link name="right_wheel_back_1">
  <inertial>
    <origin xyz="-8.715250743307479e-14 0.024999999999999967 0.0" rpy="0 0 0"/>
    <mass value="4.0"/>
    <inertia ixx="0.033244" iyy="0.061555" izz="0.033244" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.21 0.3 -0.1" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find susag_robot_description)/meshes/right_wheel_back_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <origin xyz="0.21 0.3 -0.1" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find susag_robot_description)/meshes/right_wheel_back_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_wheel_front_1">
  <inertial>
    <origin xyz="8.718026300869042e-14 0.024999999999999967 0.0" rpy="0 0 0"/>
    <mass value="4.0"/>
    <inertia ixx="0.033244" iyy="0.061555" izz="0.033244" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.21 0.3 -0.1" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find susag_robot_description)/meshes/right_wheel_front_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <origin xyz="-0.21 0.3 -0.1" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find susag_robot_description)/meshes/right_wheel_front_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_wheel_front_1">
  <inertial>
    <origin xyz="8.718026300869042e-14 -0.025000000000000078 0.0" rpy="0 0 0"/>
    <mass value="4.0"/>
    <inertia ixx="0.033244" iyy="0.061555" izz="0.033244" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.21 -0.3 -0.1" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find susag_robot_description)/meshes/left_wheel_front_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <origin xyz="-0.21 -0.3 -0.1" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find susag_robot_description)/meshes/left_wheel_front_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_wheel_back_1">
  <inertial>
    <origin xyz="-8.715250743307479e-14 -0.025000000000000078 0.0" rpy="0 0 0"/>
    <mass value="4.0"/>
    <inertia ixx="0.033244" iyy="0.061555" izz="0.033244" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.21 -0.3 -0.1" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find susag_robot_description)/meshes/left_wheel_back_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="black"/>
  </visual>
  <collision>
    <origin xyz="0.21 -0.3 -0.1" rpy="0 0 0"/>
    <origin xyz="0.21 -0.3 -0.1" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find susag_robot_description)/meshes/left_wheel_back_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="lidar_1">
  <inertial>
    <origin xyz="0.0 -1.3724499200289256e-17 0.03749999999999998" rpy="0 0 0"/>
    <mass value="1.40407129575557"/>
    <inertia ixx="0.019508" iyy="0.019508" izz="0.029261" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.15 -0.0 -0.39" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find susag_robot_description)/meshes/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="red"/>
  </visual>
  <collision>
    <origin xyz="-0.15 -0.0 -0.39" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find susag_robot_description)/meshes/lidar_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="rgbdcam_1">
  <inertial>
    <origin xyz="0.02499999999999991 -5.101735084505211e-17 -2.7755575615628914e-17" rpy="0 0 0"/>
    <mass value="0.582105956989346"/>
    <inertia ixx="0.016022" iyy="0.001218" izz="0.016296" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.25 -0.0 -0.21" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find susag_robot_description)/meshes/rgbdcam_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="blue"/>
  </visual>
  <collision>
    <origin xyz="-0.25 -0.0 -0.21" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find susag_robot_description)/meshes/rgbdcam_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<!-- Optical frame for rgbd camera (REP-103/120: x-right, y-down, z-forward) -->
<link name="rgbdcam_1_optical"/>

<joint name="rgbdcam_1_optical_joint" type="fixed">
  <parent link="rgbdcam_1"/>
  <child link="rgbdcam_1_optical"/>

  <!-- Position this at the optical center of the sensor.
       Start with zero offset, then tune xyz as needed. -->
  <origin xyz="0 0 0" rpy="-1.570796 0 -1.570796"/>
</joint>


<joint name="right_wheel_back_joint" type="continuous">
  <origin xyz="-0.21 -0.3 0.1" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_wheel_back_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="right_wheel_front_joint" type="continuous">
  <origin xyz="0.21 -0.3 0.1" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_wheel_front_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="left_wheel_front_joint" type="continuous">
  <origin xyz="0.21 0.3 0.1" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_wheel_front_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="left_wheel_back_joint" type="continuous">
  <origin xyz="-0.21 0.3 0.1" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_wheel_back_1"/>
  <axis xyz="0.0 1.0 0.0"/>
</joint>

<joint name="lidar" type="fixed">
  <origin xyz="0.15 0.0 0.39" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="lidar_1"/>
</joint>

<joint name="rgbdcam_joint" type="fixed">
  <origin xyz="0.25 0.0 0.21" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="rgbdcam_1"/>
</joint>

<joint name="imu_joint" type="fixed">
  <origin xyz="0 0 0.2" rpy="0 0 0"/> 
  <parent link="base_link"/>
  <child link="imu_link"/>
</joint>

</robot>
